# ACTUAL REPORT

                  By Joy Joseph
                  
###  Analyzing and visualizing Data


1. What is the most common slang names of dogs?

2. What is the least common slang names of dogs?

3. What is the least common names for dogs?

4. Plot of source vs Tweet Id

5. Plot of dog slang_name vs Tweet Id

<img src="images/top_slang_name.jpg" alt="slang_name"/>

<img src="images/tweet_id.jpg" alt="tweet_id"/>

**The most common slang names of dogs from the dataset are**:

- pupper which appeared in 202 tweet ids
- doggo which appeared in about 62 tweet ids
- puppo which appeared in about 22 tweet ids

**The least common slang names of dogs from the dataset are**:

- doggofloofer which appeared in 1 tweet
- doggopuppo which appeared in 1 tweet
- floofer which appeared in 7 tweet

<img src="images/least_slang_name.jpg" alt="slang_name"/>

<img src="images/name.jpg" alt="name"/>

**The least common names of dogs from the dataset are**:

- Christoper which appeared in 160 tweet
- Fwed which appeared in 168 tweet
- Kallie which appeared in 181 tweet

<img src="images/tweet_source.jpg" alt="tweet_source"/>

**The most tweet is coming from**:

- Twitter for iphone
- Twitter web client
- TweetDeck